@import "~normalize.css/normalize.css";
@import 'variables';
@import 'NavBar';
@import 'Footer';
@import 'Banner';
@import 'Gallery';
@import 'About';
@import 'Appartment';
@import 'NotFound';
@import 'Collapse';
@import 'Slideshow';

* {
  margin: 0;
}

body {
  font-family: $font-text;
  max-width: 1440px;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
}

.main {
  padding-inline: 100px;

  @media (max-width: 768px) {
    padding-inline: 20px;
  }
}