@import "~normalize.css/normalize.css";
@import 'Home';
@import 'Header';
@import 'Footer';
@import 'About';
@import 'Appartment';
@import 'NotFound';
@import 'variables';

* {
  margin: 0;
}

body {
  font-family: $font-text;
  max-width: 1440px;
  
  margin: auto;
  width: 100%;
  box-sizing: border-box;
}