@import 'variables';

.collapse {
    width: 100%;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $main-color;
      padding: 10px 20px 10px 10px;
      border-radius: 5px;
      cursor: pointer;
    }
  
    &__title {
      color: $white-color;
      font-size: 24px;
      font-weight: 700;
    }
  
    &__chevron {
      transition: transform 0.3s ease;
      color: $white-color;
  
      &.rotate {
        transform: rotate(180deg);
      }
    }
  
    &__content {
      padding: 10px;
      background-color: $light-color;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border: none;
      font-size: 14px;
      padding: 20px;
      line-height: 142.6%;
    }
  }
  